psycopg2-binary
channels_redis
django-storages[s3]
Pillow
gunicorn 
uvicorn[standard]
daphne
Django
django-cors-headers
django-filter
djangorestframework
Markdown
channels
asgiref
colorlog
PyJWT
pyotp
django-redis
django-debug-toolbar
phonenumbers
celery[redis]
python-decouple
boto3
